<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="configFragment">
    <title>purecss.io</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 공통으로 쓰이는 css파일을넣는다.-->
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link th:rel="stylesheet" th:href="@{/css/layout.css}">
    <link th:rel="stylesheet" th:href="@{/css/stickyfooter.css}">

    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css">


    </th:block>

    <!-- 공통으로 쓰이는 css파일을넣는다.-->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <th:block layout:fragment="script">


    </th:block>
</head>

</html>