<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link th:rel="stylesheet" th:href="@{/css/board.css}">
    <link th:rel="stylesheet" th:href="@{/css/pagination.css}">
</th:block>

<div layout:fragment="contents" id="contents">
    <div id="main-section">

        <div class="board-title">
            <h2>게시판</h2>
        </div><!-- .board-title -->

        <div class="board-list">
            <table class="pure-table">
                <colgroup>
                    <col style="width:7%"/>
                    <col style="width:45%"/>
                    <col style="width:13%"/>
                    <col style="width:15%"/>
                    <col style="width:10%"/>
                </colgroup>

                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:if="${boards.isEmpty}">
                        <td colspan="5">결과가 없습니다.</td>
                    </tr>

                    <tr th:unless="${boards.isEmpty}" th:object="${board}" th th:each="board : ${boards}">
                        <td th:text="*{id}"></td>
                        <td class="title"><a th:text="*{title}" th:href="@{/board/detail/{boardId}(boardId=*{id})}"></a></td>
                        <td th:text="*{creator.nickname}"></td>
                        <td th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="*{views}"></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- .board-list -->

        <div id="pagination" class="pagination">
            <ul th:with="
                groupSize=5,
                start=${((boards.number)/groupSize) * groupSize + 1},
                end=(${(boards.totalPages == 0) ? 1 : (start + (groupSize - 1) < boards.totalPages ? start + (groupSize - 1) : boards.totalPages)})">
                <li th:if="${start > 1}">
                    <a th:href="@{/board/list(page=1, size=${boards.size})}" th:text="처음"></a>
                </li>
                <li th:if="${start > 1}">
                    <a th:href="@{/board/list(page=${start - groupSize}, size=${boards.size})}" th:text="'이전'"></a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, end)}">
                    <a th:text="${page}" th:href="@{/board/list(page=${page}, size=${boards.size})}"></a>
                </li>

                <li th:if="${end < boards.totalPages}">
                    <a th:href="@{/board/list(page=${start + groupSize}, size=${boards.size})}" th:text="'다음'"></a>
                </li>
                <li th:if="${end < boards.totalPages}">
                    <a th:href="@{/board/list(page=${boards.totalPages}, size=${boards.size})}" th:text="마지막"></a>
                </li>
            </ul>

        </div><!-- .pagination -->

        <div class="board-buttons">
            <a th:href="@{/board/register}" class="pure-button pure-button-primary">글등록</a>
        </div><!-- .board-buttons -->

    </div><!-- #main-section -->
</div><!-- #contents -->

</html>