<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Summernote</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/dist/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.5/dist/js/bootstrap.js}"></script>

    <link th:rel="stylesheet" th:href="@{/webjars/summernote/0.8.12/dist/summernote.css}">
    <script th:src="@{/webjars/summernote/0.8.12/dist/summernote.js}"></script>

    <style>
        . { margin: 0; padding: 0; }
        .board-form { width: 1000px; padding: 5px }
        .board-title { width: 100%; height: 40px; }
        .board-title>input { width: 100%; height: 30px; }
        .board-content { width: 100%; height: 500px; }
        .board-buttons { margin-top: 10px; text-align: right; }
    </style>

    <script>
        $(document).ready(function() {
            $('#summernote').summernote({
                height: 435,
                callbacks: {	//이미지 첨부하는 부분
                    onImageUpload : function(images) {
                        uploadImageFile(images[0], this);
                    }
                }
            });
        });

        function uploadImageFile(image, editor) {
            const data = new FormData();
            data.append("image", image);

            $.ajax({
                data : data,
                type : "POST",
                url : "/file/upload",
                contentType : false,
                processData : false,
                success: function(data) {
                    alert(data);
                    $(editor).summernote('insertImage', data.imageUrl);
                }
            });
        }

        function fnWrite() {
            document.getElementById("boardForm").submit();
        }
    </script>
</head>
<body>
    <h1>Summernote</h1>

    <div class="board-form">
        <form th:id="boardForm" th:action="@{/board/register}" th:method="post">
            <div class="board-title">
                <input type="text" th:name="title" placeholder="제목" />
            </div>
            <div class="board-content">
                <textarea id="summernote" th:name="content"></textarea>
            </div>
        </form>
        <div class="board-buttons">
            <a th:href="@{/board/list}"><button>목록</button></a>
            <button onclick="fnWrite()">등록</button>
        </div>
    </div>
</body>
</div>
</html>