<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample Springboot Summernote</title>

    <style>
        .board-view { width: 1000px; padding: 5px }
        .board-title { width: 100%; height: 40px; line-height: 40px; border: 1px #ddd solid; }
        .board-content { width: 100%; min-height: 500px; border: 1px #ddd solid; margin-top: 10px; }
        .board-buttons { margin-top: 10px; text-align: right; }
    </style>

    <script>
        function fnModifyForm(seq){
            var url = '[[@{/board}]]';
            var path = '/modify/'+seq;
            location.href = url+path;
        }
        function fnDelete(){
            document.getElementById("boardForm").submit();
        }
        function fnList(){
            location.href = "[[@{/board/list}]]";
        }
    </script>

</head>
<body>
    <h1>Sample Springboot Summernote</h1>

    <div class="board-view">
        <div class="board-title">
            <span th:if="${board!= null}" th:text="${board.title}"></span>
        </div>
        <div class="board-content">
            <p th:if="${board!= null}" th:utext="${board.content}"></p>
        </div>

        <form th:id="boardForm" th:action="@{/board/delete/{seq}(seq=${board.seq})}" th:method="post" th:object="${board}"></form>

        <div  class="board-buttons">
            <button onclick="fnModifyForm('1')">수정</button>
            <button onclick="fnDelete()">삭제</button>
            <button onclick="fnList()">목록</button>
        </div>
    </div>
</body>
</div>
</html>