<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample Springboot Toast-editor</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <style>
        . { margin: 0; padding: 0; }
        .board-form { width: 1000px; padding: 5px }
        .board-title { width: 100%; height: 40px; }
        .board-title>input { width: 100%; height: 30px; }
        .board-content { width: 100%; height: 500px; }
        .board-buttons { margin-top: 10px; text-align: right; }
    </style>
    <script th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
    <script>
        function fnWrite() {
            var form = document.getElementById("boardForm");
            var content = document.getElementById("content");

            // content.value = editor.getHTML();
            content.value = editor.getMarkdown();
            // alert(content.value);
            // alert(content);
            // alert("editor.getMarkdown() : \n"+editor.getMarkdown())
            // $("#content").val(editor.getMarkdown());
            // alert($("#content").val());
            // textarea.innerText = editor.getHTML();
            form.submit();
        }
    </script>
</head>
<body>
    <h1>Sample Springboot Toast-editor</h1>

    <div class="board-form">
        <form th:id="boardForm" th:action="@{/board/register}" th:method="post">
            <div class="board-title">
                <input type="text" th:name="title" placeholder="제목" />
            </div>
            <div id="editor" class="board-content"></div>
            <textarea name="content" id="content" style="display: none"></textarea>
        </form>
        <div class="board-buttons">
            <a th:href="@{/board/list}"><button>목록</button></a>
            <button onclick="fnWrite()">등록</button>
        </div>
    </div>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        const Editor = toastui.Editor;
        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '600px',
            initialEditType: 'markdown',
            previewStyle: 'vertical'
        });
    </script>
</body>
</div>
</html>