<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample Springboot Toast-editor</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <style>
        .board-view { width: 1000px; padding: 5px }
        .board-title { width: 100%; height: 40px; line-height: 40px; border: 1px #ddd solid; }
        .board-content { width: 100%; min-height: 500px; border: 1px #ddd solid; margin-top: 10px; }
        .board-content2 { display: none; }
        .board-buttons { margin-top: 10px; text-align: right; }
    </style>
    <script th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
    <script>
        function fnDelete(){
            document.getElementById("boardForm").submit();
        }
    </script>

</head>
<body>
    <h1>Sample Springboot Toast-editor</h1>

    <div class="board-view">
        <div class="board-title">
            <span th:if="${board!= null}" th:text="${board.title}"></span>
        </div>
        <div id="viewer" class="board-content"></div>
        <div class="board-content2">
            <textarea id="content" th:if="${board!= null}" th:text="${board.content}"></textarea>
        </div>
        <form th:id="boardForm" th:action="@{/board/delete/{id}(id=${board.id})}" th:method="post" th:object="${board}"></form>

        <div class="board-buttons">
            <a th:href="@{/board/list}"><button>목록</button></a>
            <button onclick="fnDelete()">삭제</button>
            <a th:href="@{/board/modify/{id}(id=${board.id})}"><button>수정</button></a>
        </div>
    </div>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        let content = document.getElementById("content");
        if(content != ''){
            content = content.value.replace(/(\r\n|\n\r|\r|\n)/g, '\n');
        }
        const viewer = toastui.Editor.factory({
            el: document.querySelector('#viewer'),
            viewer: true,
            height: '600px',
            initialValue: content
        });
    </script>
</body>
</div>
</html>